# Database variables
DB_URL=changeme
DB_USERNAME=changeme
DB_PASSWORD=changeme

# Redis variables
REDIS_HOST=changeme
REDIS_PORT=changeme

# JWT secret key - Base64
JWT_SECRET=changeme

# Admin user data
ADMIN_USERNAME=changeme
ADMIN_PASSWORD=changeme
ADMIN_EMAIL=changeme

# Stripe
STRIPE_SECRET_KEY=changeme